# =========================
# 🐍 Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

.venv/


# =========================
# 🧪 Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# 🗃️ Database
# =========================
*.db
*.sqlite3

# =========================
# ⚙️ Alembic
# =========================
# keep versions but ignore cache
alembic/__pycache__/

# =========================
# 🧠 Logs
# =========================
*.log

# =========================
# 💻 VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# 🪟 OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# 🚀 Build / Dist
# =========================
build/
dist/
*.egg-info/

# =========================
# 📦 Misc
# =========================
*.zip
*.tar.gz
*.bak

# =========================
# 🔑 Secrets
# =========================
*.pem
*.key.env 
